<nav class="bg-neutral-300">
    <div class="flex flex-row justify-between py-3 border-solid border-b-4 border-black">
        <img class="ml-6 w-2/12" src="./assets/logo.png">
        <ul class="flex flex-row gap-20 items-center">
            <a class="font-bold text-xl hover:text-white hover:outline-black" href="/pendientes">Pendientes</a>
            <a class="font-bold text-xl hover:text-white hover:outline-black" href="/historial">Historial</a>
            <a class="font-bold text-xl hover:text-white hover:outline-black" href="/products">Productos</a>
            <a class="font-bold text-xl hover:text-white hover:outline-black" href="/dashboard">Dashboard</a>
            <div class="flex flex-col mr-6 gap-2">
                <a class="text-center bg-neutral-800 hover:bg-black text-white font-bold py-1 px-2" href="/usuarios">Administra Usuarios</a>
                <p>Juan Alonso | Administrador</p>
                <a class="text-center text-blue-500 underline hover:text-blue-700" href="">Cerrar Sesion</a>
            </div>
        </ul>
    </div>
</nav>