<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <link rel="stylesheet" href="./css/root.css">
</head>
<body class="bg-cover" style="background-image: url(./assets/root/Root_BackgroundIMG.jpg)">
    <div class="container m-auto">
        <div class="flex flex-col">
            <h1 class="text-white text-5xl md:text-8xl text-center mb-24 md:mb-52 root_title">Monet</h1>
            <a href="http://localhost:3000/login" class="root_button hover:bg-black m-auto text-center">Ingresar a la Aplicacion</a>
        </div>
    </div>
    <footer class="flex flex-row">
        <div class="md:basis-1/2 grid place-items-center"><img class="block m-auto w-3/6 sm:w-4/12" src="./assets/logo.png"></div>
        <div class="md:basis-1/2 md:py-5 text-white hidden md:inline">
            <p class="root_footer_history lg:mx-48">Una aplicacion de tracking de clientes con integracion de inventario continuo, para saber cuando es necesario tener cierta cantidad de productos y siempre tener stock para lo que se requiera</p>
        </div>
    </footer>
</body>
</html>